.DS_Store
**/.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/userInterfaceState.xcuserstate
minhvo.xcuserdatad/
GroupProject.xcodeproj/project.xcworkspace/xcuserdata/minhvo.xcuserdatad/
GroupProject.xcodeproj/xcuserdata/minhvo.xcuserdatad/

userInterfaceState.xcuserstate
*.xcuserdatad/*
.DS_Store
